<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>IntAlign</title>
  <script src="./static/tailwind.js"></script>
  <script src="./static/vue.global.js"></script>
  <script src="./static/flowbite.min.js"></script>

  <style type="text/tailwindcss">
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base {
      a[href^="http"] {
        @apply text-blue-500;
      }

      a:hover {
        @apply text-blue-700 underline;
      }

      h1 {
        @apply mb-6 text-3xl font-bold text-gray-900 text-center;
      }

      h2 {
        @apply mb-3 pt-4 text-2xl font-bold tracking-tight text-gray-900;
      }

      h4 {
        @apply mb-4 pt-12 text-3xl font-semibold text-gray-900;
      }

      h5 {
        @apply mb-3 pt-4 text-2xl font-bold tracking-tight text-gray-900;
      }

      h6 {
        @apply mb-3 pt-4 text-xl font-bold tracking-tight text-gray-900;
      }

      p {
        @apply mb-4 font-normal text-gray-900 leading-relaxed;
      }
    }

    @layer components {
      .list-select {
        @apply block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0;
      }

      .tooltip {
        position: absolute;
        text-align: center;
        padding: 8px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0;
        border-radius: 8px;
        pointer-events: none;
        opacity: 0;
      }

      .text-p {
        @apply mb-4 font-normal text-gray-900 leading-relaxed;
      }

      .author {
        @apply font-medium mr-2 pb-1 text-gray-900 inline-block text-base;
      }

      .author a {
          @apply text-gray-900;
        }

      .affiliation {
        @apply font-medium mr-2 pb-1 text-gray-900 block text-base;
      }
    }
  </style>

  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {}
        }
      }
    }
  </script>
</head>

<body>
  <div id="app">

    <nav class="bg-white fixed w-full z-20 top-0 start-0 border-gray-200 border-b border-gray-200"
      style="font-weight: bold;">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
        <button data-collapse-toggle="navbar-default" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>

        <div class="hidden w-full md:block md:w-auto ml-auto" id="navbar-default">
          <ul
            class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
            <li>
              <a href="#home" class="list-select"><b>Home</b></a>
            </li>
            <li>
              <a href="#dataset" class="list-select"><b>INTP Dataset</b></a>
            </li>
            <li>
              <a href="#experiments" class="list-select"><b>INTP Alignment</b></a>
            </li>
            <li>
              <a href="#weak-to-strong" class="list-select"><b>Weak-to-strong Generalization</b></a>
            </li>

          </ul>
        </div>
      </div>
    </nav>


    <div class="p-4 mt-24 max-w-screen-xl mx-auto" id="home">
      <div class="mt-16 mb-8">
        <h1>Advancing Zero-shot Text-to-Speech Intelligibility across <br />
          Diverse Domains via Preference Alignment</h1>
      </div>

      <div class="max-w-screen-xl mx-auto mt-8 mb-16">
        <div class="text-center h-2 flex flex-col gap-3">
        </div>

        <div class="max-w-[900px] mx-auto mt-8 mb-16">
          <h2>Abstract</h2>
          <p class="text-p">
            Modern zero-shot text-to-speech (TTS) systems, despite using extensive pre-training, often struggle in
            challenging scenarios such as tongue twisters, repeated words, code-switching, and cross-lingual synthesis,
            leading to intelligibility issues. This paper proposes to use preference alignment to address these
            challenges. Our approach leverages a newly proposed <u>Int</u>elligibility <u>P</u>reference Speech Dataset
            (INTP) and applies Direct Preference Optimization (DPO), along with our designed extensions, for diverse TTS
            architectures. After INTP alignment, in addition to intelligibility, we observe overall improvements
            including naturalness, similarity, and audio quality for multiple TTS models across diverse domains. Based
            on that, we also verify the weak-to-strong generalization ability of INTP for more intelligible models such
            as CosyVoice 2 and Ints. Moreover, we showcase the potential for further improvements through iterative
            alignment based on Ints.
        </div>


        <div class="mt-8 mb-8" id="dataset">
          <h4>INTP: Intelligibility Preference Speech Dataset</h4>
          <p>
            We establish a synthetic <u>Int</u>elligibility <u>P</u>reference Speech Dataset (INTP),
            including about <b>250K</b> preference pairs (over <b>2K</b> hours) of diverse domains.
            The dataset exhibits the following distinctive features:
          </p>

          <ul class="list-disc pl-6">
            <li class="mb-2">
              <b>Multi-Scenario Coverage:</b>
              The dataset encompasses various scenarios including <b><i>regular speech</i></b>, <b><i>repeated
                  phrases</i></b>,
              <b><i>code-switching contexts</i></b>, and <b><i>cross-lingual synthesis</i></b>.
            </li>
            <li class="mb-2">
              <b>Diverse TTS Model Integration:</b>
              The dataset leverages three TTS models of <b><i>different architectures</i></b> for data generation,
              including:
              <ul class="list-[circle] pl-6 mt-1">
                <li><a href="https://arxiv.org/abs/2409.00750">ARS</a> (Auto-Regressive based), which is a baseline
                  called "AR + SoundStorm" in the <a href="https://arxiv.org/abs/2409.00750">MaskGCT</a> paper.
                </li>
                <li><a href="https://arxiv.org/abs/2410.06885">F5-TTS</a> (Flow-Matching based).
                </li>
                <li><a href="https://arxiv.org/abs/2409.00750">MaskGCT</a> (Masked Generative Model based).
                </li>
              </ul>
            </li>
            <li>
              <b>Diverse Preference Pair Construction:</b> We design three categories of preference pairs,
              <ul class="list-[circle] pl-6 mt-1">
                <li>
                  <b>Intra Pair:</b>
                  Generated through model self-comparison using Best-of-N sampling.
                  <div class="flex justify-center">
                    <img src="./img/pair-intra.png" class="mt-2 w-full max-w-[260px]" />
                  </div>
                </li>
                <li>
                  <b>Inter Pair:</b>
                  Created by comparing outputs across different models, enabling the exploitation
                  of their complementary strengths.
                  <div class="flex justify-center">
                    <img src="./img/pair-inter.png" class="mt-2 w-full max-w-[260px]" />
                  </div>
                </li>
                <li>
                  <b>Perturbed Pair:</b>
                  Developed through the integration of human expertise and the advanced capabilities
                  of LLM (<a href="https://github.com/deepseek-ai/DeepSeek-V3">DeepSeek-V3</a>) to generate
                  <b><i>human-guided
                      negative
                      samples</i></b>. We design two specific types of text perturbations:
                  <ul class="list-[square] pl-6 mt-1">
                    <li><b>Pronunciation perturbation:</b>
                      We replace certain characters of the text with easily
                      mispronounceable alternatives.
                    </li>
                    <li><b>Punctuation perturbation:</b>
                      We modify the punctuation, such as commas, to alter pause patterns and prosody in the text.
                    </li>
                  </ul>
                  <div class="flex justify-center">
                    <img src="./img/pair-perturbed.png" class="mt-2 w-full max-w-[260px]" />
                  </div>
                </li>
              </ul>
            </li>
          </ul>

          <p class="mt-4">
            We will present several samples from the INTP dataset as follows.
          </p>
        </div>

        <div class="mt-8 mb-8">
          <h5>Monolingual Synthesis</h5>

          <p class="mt-4">
            We include two types of monolingual synthesis settings: <i><b>English</b></i> (English reference speech with
            English
            target text)
            and <i><b>Chinese</b></i> (Chinese reference speech with Chinese target text).
          </p>

          <h6>English</h6>

          <p class="mt-4">
            Given a same English reference speech, we demonstrate the preference pairs under different
            target
            text types:
          </p>

          <div class="mx-auto text-sm text-left rtl:text-right text-gray-900">
            <div
              class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 ">
              <ul class="flex flex-wrap -mb-px justify-center">
                <li v-for="(model, index) in Object.keys(egs['en2en'][0])" :key="model" class="me-2">
                  <a href="#" @click.prevent="selected_model = model" :class="[
                         selected_model === model 
                           ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' 
                           : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
                       ]">
                    {{ m(model) }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="overflow-x-auto ">
              <table class="w-full mt-2 mb-4 min-w-[1200px]">
                <thead>
                  <tr>
                    <!-- <th class="text-center w-1/12">Pairs Type</th> -->
                    <th class="text-center w-1/12"></th>
                    <th class="text-center w-1/6">Regular</th>
                    <th class="text-center w-1/6">Repeated</th>
                    <th class="text-center w-1/6">Code-Switching</th>
                    <th class="text-center w-1/6">Pronunciation-Perturbed</th>
                    <th class="text-center w-1/6">Punctuation-Perturbed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="1" class="bg-gray-100 font-bold">Reference Speech</td>
                    <td colspan="5">
                      <audio
                        :src="get_audio_path(egs['en2en'][current_selected_egs['en']]['ars']['regular']['prompt_wav_path'])"
                        controls preload="none"></audio>
                      {{ egs['en2en'][current_selected_egs['en']]['ars']['regular']['prompt_text'] }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="1" class="bg-gray-100 font-bold">Target Text</td>
                    <td v-for="col in Object.keys(egs['en2en'][current_selected_egs['en']]['ars'])" :key="col">
                      {{ egs['en2en'][current_selected_egs['en']]['ars'][col]['target_text'] }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="1" class="bg-gray-100 font-bold">Perturbed Text</td>
                    <td v-for="col in Object.keys(egs['en2en'][current_selected_egs['en']]['ars'])" :key="col">
                      <!-- {{ egs['en2en'][current_selected_egs['en']]['ars'][col]['target_text'] }} -->
                      <span v-if="!egs['en2en'][current_selected_egs['en']]['ars'][col]['perturbed_text']">
                        -
                      </span>
                      <span v-if="egs['en2en'][current_selected_egs['en']]['ars'][col]['perturbed_text']">
                        {{ egs['en2en'][current_selected_egs['en']]['ars'][col]['perturbed_text'] }}
                      </span>
                    </td>
                  </tr>
                  <tr v-for="(model, index) in Object.keys(egs['en2en'][current_selected_egs['en']])" :key="model">
                    <!-- <td v-if="index < 3 && selected_model === model" class="bg-gray-100 font-bold">
                      Intra
                    </td>
                    <td v-if="index >= 3 && selected_model === model" class="bg-gray-100 font-bold">
                      Inter
                    </td> -->
                    <td class="font-bold bg-gray-100" v-if="model === selected_model">{{ m(model) }}</td>

                    <td v-if="model === selected_model"
                      v-for="col in Object.keys(egs['en2en'][current_selected_egs['en']][model])" :key="col">
                      <div class="flex flex-col gap-2">
                        <div>
                          <img src="./img/icon_chosen.png" alt="check" class="inline-block w-5 h-5 mr-1" /> Chosen
                          <audio :src="get_audio_path(egs['en2en'][current_selected_egs['en']][model][col]['chosen'])"
                            controls preload="none"></audio>
                        </div>
                        <div>
                          <img src="./img/icon_rejected.png" alt="cross" class="inline-block w-5 h-5 mr-1" /> Rejected
                          <audio :src="get_audio_path(egs['en2en'][current_selected_egs['en']][model][col]['rejected'])"
                            controls preload="none"></audio>
                        </div>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-sm font-medium text-center text-gray-500">
              <ul class="flex flex-wrap justify-center mb-4">
                <li v-for="(eg, index) in Object.keys(egs['en2en'])" :key="eg" class="me-2">
                  <a href="#" @click.prevent="current_selected_egs['en'] = index" :class="[
                       'inline-flex items-center justify-center min-w-[120px] px-4 py-2.5 rounded-lg transition-all duration-200',
                       current_selected_egs['en'] === index 
                         ? 'bg-blue-50 text-blue-600 font-medium ring-1 ring-blue-600/20' 
                         : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'
                     ]">
                    <span class="relative">
                      Example #{{ index+1 }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <p class="mt-4">
            <i><b>Note:</b> You can click the tabs to change the reference speech, and view pairs generated by
              different models.</i>
          </p>
        </div>


        <div class="mt-8 mb-8">
          <h6>Chinese</h6>

          <p class="mt-4">
            Given a same Chinese reference speech, we demonstrate the preference pairs under different
            target
            text types:
          </p>
          <div class="mx-auto text-sm text-left rtl:text-right text-gray-900">
            <div
              class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 ">
              <ul class="flex flex-wrap -mb-px justify-center">
                <li v-for="(model, index) in Object.keys(egs['zh2zh'][0])" :key="model" class="me-2">
                  <a href="#" @click.prevent="selected_model = model" :class="[
                         selected_model === model 
                           ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' 
                           : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
                       ]">
                    {{ m(model) }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="overflow-x-auto">
              <table class="w-full mt-2 mb-4 min-w-[1200px]">
                <thead>
                  <tr>
                    <!-- <th class="text-center w-1/12">Pairs Type</th> -->
                    <th class="text-center w-1/12"></th>
                    <th class="text-center w-1/6">Regular</th>
                    <th class="text-center w-1/6">Repeated</th>
                    <th class="text-center w-1/6">Code-Switching</th>
                    <th class="text-center w-1/6">Pronunciation-Perturbed</th>
                    <th class="text-center w-1/6">Punctuation-Perturbed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="1" class="bg-gray-100 font-bold">Reference Speech</td>
                    <td colspan="5">
                      <audio
                        :src="get_audio_path(egs['zh2zh'][current_selected_egs['zh']]['ars']['regular']['prompt_wav_path'])"
                        controls preload="none"></audio>
                      {{ egs['zh2zh'][current_selected_egs['zh']]['ars']['regular']['prompt_text'] }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="1" class="bg-gray-100 font-bold">Target Text</td>
                    <td v-for="col in Object.keys(egs['zh2zh'][current_selected_egs['zh']]['ars'])" :key="col">
                      {{ egs['zh2zh'][current_selected_egs['zh']]['ars'][col]['target_text'] }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="1" class="bg-gray-100 font-bold">Perturbed Text</td>
                    <td v-for="col in Object.keys(egs['zh2zh'][current_selected_egs['zh']]['ars'])" :key="col">
                      <span v-if="!egs['zh2zh'][current_selected_egs['zh']]['ars'][col]['perturbed_text']">
                        -
                      </span>
                      <span v-if="egs['zh2zh'][current_selected_egs['zh']]['ars'][col]['perturbed_text']">
                        {{ egs['zh2zh'][current_selected_egs['zh']]['ars'][col]['perturbed_text'] }}
                      </span>
                    </td>
                  </tr>
                  <tr v-for="(model, index) in Object.keys(egs['zh2zh'][current_selected_egs['zh']])" :key="model">
                    <!-- <td v-if="index < 3 && selected_model === model" class="bg-gray-100 font-bold">
                      Intra
                    </td>
                    <td v-if="index >= 3 && selected_model === model" class="bg-gray-100 font-bold">
                      Inter
                    </td> -->
                    <td class="bg-gray-100 font-bold" v-if="model === selected_model">{{ m(model) }}</td>

                    <td v-if="model === selected_model"
                      v-for="col in Object.keys(egs['zh2zh'][current_selected_egs['zh']][model])" :key="col">
                      <div class="flex flex-col gap-2">
                        <div>
                          <img src="./img/icon_chosen.png" alt="check" class="inline-block w-5 h-5 mr-1" /> Chosen
                          <audio :src="get_audio_path(egs['zh2zh'][current_selected_egs['zh']][model][col]['chosen'])"
                            controls preload="none"></audio>
                        </div>
                        <div>
                          <img src="./img/icon_rejected.png" alt="cross" class="inline-block w-5 h-5 mr-1" /> Rejected
                          <audio :src="get_audio_path(egs['zh2zh'][current_selected_egs['zh']][model][col]['rejected'])"
                            controls preload="none"></audio>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-sm font-medium text-center text-gray-500">
              <ul class="flex flex-wrap justify-center mb-4">
                <li v-for="(eg, index) in Object.keys(egs['zh2zh'])" :key="eg" class="me-2">
                  <a href="#" @click.prevent="current_selected_egs['zh'] = index" :class="[
                       'inline-flex items-center justify-center min-w-[120px] px-4 py-2.5 rounded-lg transition-all duration-200',
                       current_selected_egs['zh'] === index 
                         ? 'bg-blue-50 text-blue-600 font-medium ring-1 ring-blue-600/20' 
                         : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'
                     ]">
                    <span class="relative">
                      Example #{{ index+1 }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <p class="mt-4">
            <i><b>Note:</b> You can click the tabs to change the reference speech, and view pairs generated by
              different models.</i>
          </p>
        </div>



        <div class="mt-8 mb-8">
          <h5>Cross-Lingual Synthesis</h5>

          <p class="mt-4">
            We include two types of cross-lingual synthesis settings: <i><b>zh2en</b></i> (Chinese reference speech with
            English target text) and <i><b>en2zh</b></i> (English reference speech with
            Chinese
            target text):
          </p>
          <div class="mx-auto text-sm text-left rtl:text-right text-gray-900">
            <div
              class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 ">
              <ul class="flex flex-wrap -mb-px justify-center">
                <li v-for="(model, index) in Object.keys(egs['en2en'][0])" :key="model" class="me-2">
                  <a href="#" @click.prevent="selected_model = model" :class="[
                       selected_model === model 
                         ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' 
                         : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
                     ]">
                    {{ m(model) }}
                  </a>
                </li>
              </ul>
            </div>

            <div class="overflow-x-auto">
              <table class="w-full mt-2 mb-4 min-w-[1200px]">
                <thead>
                  <tr>
                    <!-- <th class="text-center w-1/12">Pairs Type</th> -->
                    <th class="text-center w-1/12"></th>
                    <th class="text-center w-1/6" v-for="i in 5" :key="i">Example #{{ i }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="1" class="bg-gray-100 font-bold">Reference Speech</td>
                    <td v-for="i in [0, 1, 2, 3, 4]" :key="i">
                      <audio
                        :src="get_audio_path(egs[current_selected_egs['set']][i]['ars']['regular']['prompt_wav_path'])"
                        controls preload="none"></audio>
                      {{ egs[current_selected_egs['set']][i]['ars']['regular']['prompt_text'] }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="1" class="bg-gray-100 font-bold">Target Text</td>
                    <td v-for="i in [0, 1, 2, 3, 4]" :key="i">
                      {{ egs[current_selected_egs['set']][i]['ars']['regular']['target_text'] }}
                    </td>
                  </tr>
                  <tr v-for="(model, index) in Object.keys(egs[current_selected_egs['set']][0])" :key="model">
                    <!-- <td v-if="index < 3 && selected_model === model" class="bg-gray-100 font-bold">
                      Intra
                    </td>
                    <td v-if="index >= 3 && selected_model === model" class="bg-gray-100 font-bold">
                      Inter
                    </td> -->
                    <td class="bg-gray-100 font-bold" v-if="model === selected_model">{{ m(model) }}</td>

                    <td v-if="model === selected_model" v-for="i in [0, 1, 2, 3, 4]" :key="i">
                      <div class="flex flex-col gap-2">
                        <div>
                          <img src="./img/icon_chosen.png" alt="check" class="inline-block w-5 h-5 mr-1" /> Chosen
                          <audio :src="get_audio_path(egs[current_selected_egs['set']][i][model]['regular']['chosen'])"
                            controls preload="none"></audio>
                        </div>
                        <div>
                          <img src="./img/icon_rejected.png" alt="cross" class="inline-block w-5 h-5 mr-1" /> Rejected
                          <audio
                            :src="get_audio_path(egs[current_selected_egs['set']][i][model]['regular']['rejected'])"
                            controls preload="none"></audio>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="text-sm font-medium text-center text-gray-500">
              <ul class="flex flex-wrap justify-center mb-4">
                <li v-for="(set, index) in ['zh2en', 'en2zh']" :key="set" class="me-2">
                  <a href="#" @click.prevent="current_selected_egs['set'] = set" :class="[
                         'inline-flex items-center justify-center min-w-[120px] px-4 py-2.5 rounded-lg transition-all duration-200',
                         current_selected_egs['set'] === set 
                           ? 'bg-blue-50 text-blue-600 font-medium ring-1 ring-blue-600/20' 
                           : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'
                       ]">
                    <span class="relative">
                      {{ set }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <p class="mt-4">
            <i><b>Note:</b> You can click the tabs to change the cross-lingual setting, and view pairs generated by
              different models.</i>
          </p>
        </div>

        <div class="mt-8" id="experiments">
          <h4>Results of INTP Alignment</h4>
          <p>
            To verify the effectiveness of <a href="https://arxiv.org/abs/2305.18290">DPO</a> with INTP for
            existing TTS models, we conduct alignment experiments with multiple models. First, we evaluate the alignment
            effectiveness on the three models that participated in INTP construction: <b>ARS</b>, <b>F5-TTS</b>, and
            <b>MaskGCT</b>:
          </p>
        </div>

        <div class="mb-8">
          <div class="mx-auto text-sm text-left rtl:text-right text-gray-900" v-for="model in models_golden_pick">
            <p v-if="model === 'cosyvoice2'" class="mt-10 text-base" id="weak-to-strong">
              To investigate INTP's weak-to-strong
              generalization capability on
              more powerful base models, we research its alignment effects on <b>CosyVoice 2</b><a
                href="https://arxiv.org/abs/2412.10117"> (Du et al., 2024)</a>, and
              <b>Ints</b> (Appendix D of our
              paper). Both models are initialized
              from textual LLMs (CosyVoice 2: from <a href="https://huggingface.co/Qwen/Qwen2.5-0.5B">Qwen2.5, 0.5B</a>.
              Ints: from <a href="https://huggingface.co/microsoft/Phi-3.5-mini-instruct">Phi-3.5-mini-instruct,
                3.8B</a>)
              and achieve
              superior intelligibility performance (Table 4 of
              our
              paper). We observe that INTP remains effective for these more capable models:
            </p>

            <h5 :id="model" class="pt-6">{{ expt_m(model) }}</h5>

            <div
              class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 ">
              <ul class="flex flex-wrap -mb-px justify-center">
                <li v-for="(domain, index) in Object.keys(models_golden_pick_ars[model])" :key="domain" class="me-2">
                  <a href="#" @click.prevent="current_selected_domain[model] = domain" :class="[
                         current_selected_domain[model] === domain 
                           ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500' 
                           : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
                       ]">
                    {{ m(domain) }}
                  </a>
                </li>
              </ul>
            </div>

            <div class="overflow-x-auto">
              <table class="w-full mt-2 min-w-[1200px]">
                <thead>
                  <tr>
                    <th class="text-center w-1/12">Domain</th>
                    <th class="text-center w-1/6">Target Text</th>
                    <th class="text-center w-1/6">Reference</th>
                    <th class="text-center w-1/6">
                      {{ expt_m(model) }}
                    </th>
                    <th class="text-center w-1/6">{{ expt_m(model) }} w/ INTP</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Clean Data -->
                  <template v-for="domain in Object.keys(models_golden_pick_ars[model])">
                    <tr v-for="(item, index) in models_golden_pick_ars[model][domain]" :key="domain + index"
                      v-if="current_selected_domain[model] === domain">
                      <td v-if="index === 0" class="bg-gray-100 font-bold"
                        :rowspan="models_golden_pick_ars[model][domain].length">
                        {{ m(domain) }}
                      </td>
                      <td>
                        {{ item.target_text }}
                      </td>
                      <td>
                        <audio :src="item.prompt_path" controls preload="none"></audio>
                        {{ item.prompt_text }}
                      </td>
                      <td>
                        <audio :src="item.base_path" controls preload="none"></audio>
                      </td>
                      <td>
                        <audio :src="item.dpo_path" controls preload="none"></audio>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>

              <p class="mt-4 text-base" v-if="model === 'ins'">
                <i><b>Note:</b> The INTP dataset does not contain data generated by Ints.</i>
              </p>

              <p class="mt-4 text-base" v-if="model === 'cosyvoice2'">
                <i><b>Note:</b> The INTP dataset does not contain data generated by CosyVoice 2.</i>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>



  <script>
    const { createApp, ref } = Vue

    const data_path = './data'

    const get_audio_path = (url) => {
      const encoded_url = encodeURIComponent(url)
      return `${data_path}/${encoded_url}`
    }

    const mapping = {
      "ars": "Intra (ARS)",
      "cosyvoice2": "Intra (CosyVoice 2)",
      "f5tts": "Intra (F5-TTS)",
      "maskgct": "Intra (MaskGCT)",
      "ars_f5tts": "Inter (ARS vs F5-TTS)",
      "ars_maskgct": "Inter (ARS vs MaskGCT)",
      "f5tts_maskgct": "Inter (F5-TTS vs MaskGCT)",
      "ints": "Ints",
      "ins": "Ints",
      "regular": "Regular",
      "tongueTwisters": "Tongue Twisters",
      "codeSwitching": "Code-Switching",
      "crossLingual": "Cross-Lingual"
    }

    const expt_mapping = {
      "ars": "ARS",
      "cosyvoice2": "CosyVoice 2",
      "f5tts": "F5-TTS",
      "maskgct": "MaskGCT",
      "ins": "Ints"
    }

    createApp({
      setup() {
        // define the models to load
        // const models_golden_pick = ["ars", "cosyvoice2", "f5tts", "maskgct", "ins"]
        const models_golden_pick = ["ars", "f5tts", "maskgct", "cosyvoice2", "ins"]

        // load the data
        const models_golden_pick_ars = ref({})
        models_golden_pick.forEach(async (element) => {
          const data = await fetch(`./data/${element}.json`).then(res => res.json())
          Object.keys(data).forEach(key => {
            data[key].forEach(item => {
              item.prompt_path = get_audio_path(item.prompt_path)
              item.base_path = get_audio_path(item.base_path)
              item.dpo_path = get_audio_path(item.dpo_path)
              console.log(item.base_path)
            })
          })
          models_golden_pick_ars.value[element] = data
        });

        // load the egs
        const egs = ref({})
        async function get_egs() {
          const data = await fetch(`./data/egs.json`).then(res => res.json())
          egs.value = data
        }
        get_egs()

        // define the current variables
        const current_available_egs = ref({})
        current_available_egs.value["en"] = ["egs1", "egs2"]
        current_available_egs.value["zh"] = ["egs1", "egs2"]

        const current_selected_egs = ref({})
        current_selected_egs.value["en"] = 0
        current_selected_egs.value["zh"] = 0
        // current_selected_egs.value["set"] = "en2zh"
        current_selected_egs.value["set"] = "zh2en"

        const current_selected_domain = ref({})
        current_selected_domain.value["ars"] = "crossLingual"
        current_selected_domain.value["cosyvoice2"] = "crossLingual"
        current_selected_domain.value["f5tts"] = "crossLingual"
        current_selected_domain.value["maskgct"] = "crossLingual"
        current_selected_domain.value["ins"] = "crossLingual"

        // const selected_model = ref("ars")
        const selected_model = ref("ars_maskgct")

        // define the mapping function for normalizing the data
        const m = (from) => {
          return mapping[from] || from
        }

        const expt_m = (from) => {
          return expt_mapping[from] || from
        }

        return {
          m,
          expt_m,
          models_golden_pick,
          models_golden_pick_ars,
          egs,
          current_available_egs,
          current_selected_egs,
          current_selected_domain,
          get_audio_path,
          selected_model
        }
      }
    }).mount('#app')
  </script>

</body>

</html>